@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.grid-container {
  display: grid;
  gap: 0.5em;
}

/* Default grid layout with 6 columns */
.grid-container {
  grid-template-columns: repeat(6, 1fr);
}

/* Responsive layout for smaller resolutions */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 1 column per row */
  }
}